/* explore.css */

header {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 30px;
    text-decoration: underline black;
}

.blog-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.blog {
    width: 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

p {
    font-size: 16px;
}

.blog-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-link {
    text-decoration: none;
    background-color: #0D9EBB;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.button-link:hover{
    color: #00ddff;
    text-decoration: underline;
}

.delete_btn {
    background-color: #FF4242;
}

.new_post{
    text-decoration: none;
    background-color: #0D9EBB;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 165vh;
}

.new_post:hover{
    color: #00ddff;
    text-decoration: underline;
}