
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure viewport height */
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    flex: 1; /* Expand to fill available space */
}

.container {
    background-color: #0F1035;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%; /* Set the width to 100% */
}

.logo {
    display: flex;          /* Use flexbox for layout */
    align-items: center;    /* Center items vertically */
    order: 1;               /* Set the order in the flex container */
    margin-left: 30px;      /* Add left margin */
    margin-right: 20px;     /* Add right margin */
    max-width: 200px;       /* Set the maximum width of the element */
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 2;
    width: 100%;
    justify-content: flex-end; /* Align the items to the right */
    list-style: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #F3FAFF;
    font-size: 18px;
}
.navbar a:hover{
   color: #0D9EBB;
}
.navbar .active{
    color: #0D9EBB;
}

/* Style the checkbox and hide it */
#nav-toggle {
    display: none;
}

.nav_icon {
    color: #F3FAFF;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Add this media query for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        gap: 1em;
        background-color: #0F1035;
        margin-right: auto;
        overflow: hidden; /* Initially hide the links */
        display: none;
    }

    .navbar a {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 15px;
    }

    #nav-toggle:checked + .navbar {
        display: flex; /* Show the links when the checkbox is checked */
        font-size: 15px;
        overflow: auto;
    }

    .nav_icon {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        align-items:center;
    }

    .nav_cross {
        display: none;
    }

    #nav-toggle:checked + .navbar .nav_icon {
        display: none;
    }

    #nav-toggle:checked + .navbar .nav_cross {
        display: block;
    }
}

footer {
    background-color: #0F1035;
    color: white;
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: flex-end;
}


footer div {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.logo_name{
    color:white;
}

.custom-alert {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    opacity: 1; /* Initial opacity */
    transition: opacity 0.5s; /* Add a transition for smooth animation */
}

.btn-close {
    background: none;
    border: none;
    cursor: pointer;
    color: #721c24;
    font-weight: bold;
    font-size: 14px;
}
