<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation_style.css') }}">
    <script src="https://kit.fontawesome.com/4abb1433f5.js" crossorigin="anonymous"></script>
    <script>
        function closeAlert(button) {
            var alert = button.parentElement;
            alert.style.opacity = 0;
            setTimeout(function () {
                alert.style.display = "none";
            }, 500);
        }
        document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
          var alerts = document.querySelectorAll('.custom-alert');
          alerts.forEach(function (alert) {
            alert.remove();
          });
        }, 5000);
        });
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Navigation bar -->
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='../static/images/MedScanLogo_Horizontal.png') }}" alt="MedScan Insight Logo">
        </div>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="nav_icon" style="font-size: 24px;">
            <i class="fas fa-bars"></i>
        </label>
        <label for="nav-toggle" class="nav_icon nav_cross" style="font-size: 24px;">
            <i class="fas fa-times"></i>
        </label>
        <ul class="navbar">
            <!-- Navigation bar with the active page color and check if the active_page is what page or not
                and in CSS change the color with .active -->
            <li><a {% if active_page=='home' %}class="active" {% endif %} href="/">Home</a></li>
            <li><a {% if active_page=='about' %}class="active" {% endif %} href="/about">About</a></li>
            <li><a {% if active_page=='explore' %}class="active" {% endif %} href="/explore">Explore</a></li>
            <li><a {% if active_page=='symptom_checker' %}class="active" {% endif %} href="/symptom_checker">Symptom Checker</a></li>
            <li><a {% if active_page=='contact' %}class="active" {% endif %} href="/contact">Contact Us</a></li>
            {% if current_user.is_authenticated %}
                <li><a {% if active_page=='profile' %}class="active" {% endif %} href="{{ url_for("login_manage.profile") }}">Profile</a></li>
            {% else %}
                <li><a {% if active_page=='login' %}class="active" {% endif %} href="{{url_for('login_manage.login_route')}}">Log In</a></li>
            {% endif %}

        </ul>
    </div>

    <!-- Content wrapper -->
    <div class="wrapper">
        {% for message in get_flashed_messages() %}
            <div class="custom-alert" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="btn-close" onclick="closeAlert(this)" aria-label="Close">X</button>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div>
            <p class="logo_name">MedScan Insight</p>
        </div>
        <div>
            <a href="/privacy">Privacy</a>
            @ The symptom checker on this website is not a substitute for professional medical advice, diagnosis, or
            treatment.
        </div>
    </footer>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        var navToggle = document.getElementById("nav-toggle");
        navToggle.addEventListener("change", function () {
            var navbar = document.querySelector(".navbar");
            var navIcon = document.querySelector(".nav_icon");
            var navCross = document.querySelector(".nav_cross");

            if (navToggle.checked) {
                navbar.style.display = "flex";
                navIcon.style.display = "none";
                navCross.style.display = "block";
            } else {
                navbar.style.display = "none";
                navIcon.style.display = "block";
                navCross.style.display = "none";
            }
        });
    </script>
</body>

</html>