{% extends 'base.html' %}
{% block head %}

<title>Blog Post - MedScan Insight</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/blog-post.css')}}">
<script src="https://kit.fontawesome.com/4abb1433f5.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}

<article class="blog-post">
    <img src="{{ url_for('static',filename='blog_post_2.jpg')}}" alt="Blog Post Image">

    <h1 class="h1">How to Fight a Virus: Examples from COVID-19</h1>

    <div class="content">
        <p class="metadata">From Centers for Disease Control and Prevention</p>
        <p class="metadata">Published on January 10, 2024</p>

        <h3>Fighting a Pandemic</h3>
        <p>
            The global COVID-19 pandemic has disrupted myriad aspects of modern society, including education,
            work, travel, the economy, and social interaction. Healthcare workers are fighting tirelessly against
            the SARS-CoV-2 virus, an invisible and easily transmitted enemy which produces severe respiratory
            infections and has already led to over 80,000 deaths. Scientists around the world are scrambling to
            try to pinpoint weaknesses in the virus so that they can develop both vaccines to immunize the uninfected
            and antiviral drugs to fight the virus in the infected population. Vaccines are usually developed by
            inactivating the virus or making genetically-altered versions that cannot infect the host. Both should
            provide the blueprints needed for the body to make virus-fighting antibodies in case an infection occurs later.
        </p>
        <p>
            But how do we fight off the infection once it’s begun, when antibodies weren’t present or weren’t enough?
            The scarcity of ventilators and their inability to actually fight off an infection makes the development
            of antivirals a necessity. The science behind their development, however, is a complex mix of biology,
            chemistry, and imaging that involves finding a viral target, understanding how it works, and purposely
            disrupting that key functional mechanisms. Two examples in this battle have recently been published
            targeting different parts of the viral life cycle. One target would prevent the virus from making copies
            of itself after it has infected a host cell, and the other would prevent it from invading the cell altogether.
        </p>
        <h3>How does a Virus Work?</h3>
        <p>
            The goal of a virus is simply to make copies of itself. But unlike other organisms, it cannot do so alone;
            viruses must hijack the molecular machines inside the cells of its host to duplicate its own genetic
            material (either DNA or the related RNA molecule) and proteins. Therefore, once inside the body, the
            virus must first get inside the host cells. This typically involves proteins on the surface of the virus
            binding to ones on the surface of a cell. This works a lot like a lock and key – the virus cannot enter
            unless its proteins fit correctly onto the cellular ones. After entering, the virus uses its DNA or RNA
            as blueprints to make more copies. Unlike cellular proteins, which are made one at a time, viral proteins
            are often made all at once in a long chain. The final proteins must be freed by cutting the links between
            them, and this is achieved using something called a protease. After this, the viral copies can be assembled
            and released when the host cell bursts open. Just like the virus entering the host cell, each step is
            controlled by highly specific interactions between viral and host molecules. Thus, if scientists can
            understand how these interactions occur by determining the structure of each involved molecule, then
            they can develop drugs to prevent viral replication by preventing some part of this process. If we can
            damage the key or block access to the lock, the virus can’t do what it needs.
        </p>
        <p>
            Two recent advances sought to do exactly that: Scientists at the Westlake Institute for Advanced Study
            in China examined the interaction that lets the virus inside the host cell and at the University of Lübeck
            in Germany identified the structure of the molecule that cuts the links between viral proteins.
        </p>
        <h3>Imaging COVID-19</h3>
        <p>
            There are a number of ways to determine the arrangement of atoms in a molecule. For example, SARS-CoV-2
            enters host cells through an interaction between its “S protein” and a protein on the surface of the host
            cell called ACE2. To study this interaction, biologists used a technique called cryo-electron microscopy,
            where a beam of electrons irradiates the sample and a detector counts the number of electrons that pass
            through, similar to how X-rays are used in a CT scan. From this data, the three-dimensional structure
            of the ACE2 molecule was determined both with and without the bound viral protein, providing insight
            into how this event allows the virus to enter the host cell.
        </p>
        <p>
            The German group instead used a technique called X-ray diffraction, which examines how X-rays bounce
            off the molecules in a crystal. This allowed determination of the structure of the SARS-CoV-2
            “main protease,” the molecule that cuts off all the proteins so that the viral copies can assemble.
            Even more importantly, this group examined the same molecule when a new inhibitor was included.
            This inhibitor is derived from a molecule that has been shown to be effective in preventing replication
            of SARS-CoV and MERS-CoV coronaviruses, but was modified by the authors to improve how strongly it binds
            to SARS-CoV-2. By examining the protease-inhibitor complex, the authors could determine the strength of
            this interaction to ensure that their modifications had the correct effect and that the inhibitor drug
            would properly prevent the protease from acting. Understanding the atomic interactions could also aid
            in identifying further improvements that could make for a better drug.
        </p>
        <h3> Looking Forward </h3>
        <p>
           Structural identification is only the first step in a long process of drug delivery. Next, candidate
            drugs must be identified, different doses tested in animal or cellular models, and any toxic effects
            need to be mitigated. Some of these steps were done for the main protease inhibitor, and results showed
            good drug efficacy in human lung cells and mice along with especially high delivery to lung tissue.
            Given SARS-CoV-2’s production of respiratory symptoms, this drug could even potentially be inhaled for
            delivery. Though drug development is a long, complicated process, these two studies are important steps
            toward winning the battle against COVID-19.
        </p>
    </div>

    <p class="read-more">
        <a href="/explore"><i class="fa-solid fa-arrow-left"></i>  Back to Explore</a>
    </p>
</article>

{% endblock %}
