{% extends 'base.html' %}

{% block head %}
    <title>Edit_Post</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_post.css')}}">
{% endblock %}
{% block body %}
    <div class="custom-container">
        <form method="POST" class="custom-form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <label for="image" class="image">{{ form.image.label }}</label>

            <div class="image-input-container">
                {{ form.image(class="form-control") }}
                <img src="{{ url_for('static', filename='images/' + post.image_path.split('/')[-1]) }}" alt="Blog Image">
            </div>

            {% if form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.image.errors[0] }}
                </div>
            {% endif %}



            <label for="title" class="form-label">{{ form.title.label }}</label>
            {{ form.title(class="form-control") }}

            <label for="slug" class="form-label">{{ form.slug.label }}</label>
            {{ form.slug(class="form-control") }}

            <label for="author" class="form-label">{{ form.author.label }}</label>
            {{ form.author(class="form-control") }}

            <label for="description" class="form-label">{{ form.description.label }}</label>
            {{ form.description(class="form-control") }}

            <label for="content" class="form-label">{{ form.content.label }}</label>
            {{ form.content(class="form-control", rows=15) }}

            <button type="submit" class="custom-btn">{{ form.submit.label }}</button>
        </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
    </div>
{% endblock %}