{% extends 'base.html' %}

{% block head %}
    <title>Explore Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/explore.css')}}">
{% endblock %}

{% block body %}
    <header>Trending articles</header>
    {% if current_user.user_type == 'healthcare_professional' %}
        <a href="{{ url_for('add_post.upload_post') }}" class="new_post"> Add New Post</a>
    {% endif %}
    <div class="blog-container">
        {% for post in posts %}
            <div class="blog">
                <img src="{{ url_for('static', filename='images/' + post.image_path.split('/')[-1]) }}" alt="Blog Image">
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                <div class="blog-links">
                    <a href="{{ url_for('blogpost.show_post', post_id=post.id) }}" class="button-link">Read more</a>
                    {% if current_user.user_type == 'healthcare_professional' %}
                        <a href="{{ url_for('blogpost.edit_post', post_id=post.id) }}" class="button-link">Edit Post</a>
                        <a href="{{ url_for('blogpost.delete_post', post_id=post.id) }}" class="button-link delete_btn">Delete Post</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
