{% extends 'base.html' %}

{% block head %}
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="custom-alert" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close" onclick="closeAlert(this)" aria-label="Close">X</button>
        </div>
    {% endfor %}

    <div class="dashboard-container">
        <div class="profile-info">
            <img src="{{ url_for('static', filename='images/' + current_user.profile.profile_pic.split('/')[-1]) }}" class="profile_pic" alt="Profile Picture">

            <h2>User Profile</h2>
            <p style="font-size: 14px; color: #888;">You are logged in!</p>
            <a href="{{ url_for('login_manage.edit_profile', user_id = current_user.id) }}" class="user_edit">Edit Your Profile</a>
            <br/><br/>

            <strong>UserName:</strong>
            {{ user_name }}<br/><br/>

            <strong>Email:</strong>
            {{ current_user.email }}<br/><br/>

            <strong>Date of Birth:</strong>
            {{ dob }}<br/><br/>

            <strong>Age:</strong>
            {{ age }}<br/><br/>

            <strong>Gender:</strong>
            {{ gender_display }}<br/><br/>

            <strong>User Type:</strong>
            {{ current_user.user_type }}<br/><br/><br/>
            <a href="{{ url_for('login_manage.logout_route') }}" class="logout_btn">Log Out</a>
        </div>
        {% if disease_dict is not defined or disease_dict is none %}
            <div class="disease-info">
                <h2> Disease Information </h2>
                <p> There is no prior predicted diseases the user.</p>
            </div>
        {% else %}
        <div class="disease-info">
            <h2>Disease Information</h2>
            <table>
                <thead>
                    <tr>
                        <th>Symptom</th>
                        <th>Disease</th>
                        <th>Disease Description</th>
                        <th>Precaution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(disease_dict['symptoms']|length) %}
                        <tr>
                            <td class="result-border">{{ disease_dict['symptoms'][i] }}</td>
                            <td class="result-border">{{ disease_dict['disease_name'][i] }}</td>
                            <td class="result-border">
                                {% for description in disease_dict['disease_description'][i] %}
                                    {{ description|safe }}<br>
                                {% endfor %}
                            </td>
                            <td class="result-border">
                                {{ disease_dict['precaution'][i]|join()|safe }}<br>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}
